/* src/styles.css */

#roleplayToolsetPanel {
    overflow-y: auto;
    max-width: 90svw;
    max-height: 90svh;
    min-width: 100px;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid var(--SmartThemeBorderColor);
    position: fixed;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 0 10px var(--black70a);
    z-index: 3000;
    left: 0;
    top: 0;
    margin: 0;
    right: unset;
    width: calc(((100svw - var(--sheldWidth)) / 2) - 1px);
}

#roleplayToolsetPanel .panelControlBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#roleplayToolsetPanelHolder {
    margin-top: 15px;
}
